.dialog-pane.erro {
    -fx-background-color: #3c3c3c;
    -fx-border-color: #e74c3c;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.erro .content.label {
    -fx-font-size: 14px;
    -fx-text-fill: #e74c3c;
    -fx-font-weight: bold;
    -fx-padding: 20px 10px 20px 10px;
}

.erro .button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-min-width: 80px;
}

.erro .button:hover {
    -fx-background-color: #c0392b;
}

.erro .header-panel {
    -fx-background-color: transparent;
}

.erro .header-panel .label{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.dialog-pane.aviso {
    -fx-background-color: #3c3c3c;
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.aviso .content.label {
    -fx-font-size: 14px;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-padding: 20px 10px 20px 10px;
}

.aviso .button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-min-width: 80px;
}

.aviso .button:hover {
    -fx-background-color: #c0392b;
}

.aviso .header-panel {
    -fx-background-color: transparent;
}

.aviso .header-panel .label{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.dialog-pane.sucesso {
    -fx-background-color: #3c3c3c;
    -fx-border-color: green;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.sucesso .content.label {
    -fx-font-size: 14px;
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-padding: 20px 10px 20px 10px;
}

.sucesso .button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-min-width: 80px;
}

.sucesso .button:hover {
    -fx-background-color: #049a02;
}

.sucesso .header-panel {
    -fx-background-color: transparent;
}

.sucesso .header-panel .label{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}