.hboxLayout {
    -fx-background-color: #070707;
}

.hboxLayout .label{
    -fx-text-fill: #e74c3c;
}

#labelLayout {
    -fx-cursor: hand;
}

.hboxLayout .menu-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.context-menu {
    -fx-background-color: #070707;
    -fx-border-color: #333333;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: #e74c3c;
}

.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: #070707;
}

.hboxLayout .button {
    -fx-background-color: transparent;
    -fx-text-fill: #e74c3c;
    -fx-cursor: hand;
}